@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* White background */
  --foreground: #808080; /* Grey text */
  --button-bg: #ffcccc;   /* Light red buttons */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--button-bg); /* Light red buttons */
  color: var(--foreground); /* Button text should be grey */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
